/* Menu */
/* ========================================================================= */

.explorer{font-family:sans-serif; font-size:10px; font-weight:normal; 
      text-decoration:none; color:#000000; background:#eee; cursor:hand; width:112px; 
      height:30px; border:1 solid #A6C0ED}
.explorer_over{font-family:sans-serif; font-size:10px; font-weight:normal; 
      text-decoration:none; color:#000000; background:#666666; cursor:hand; width:112px; 
      height:30px; border-right:1 solid #5C6980; border-bottom:1 solid #5C6980; 
      border-left:1 solid #B8D3FF; border-top:1 solid #B8D3FF}
.explorer_down{font-family:sans-serif; font-size:10px; font-weight:normal; 
      text-decoration:none; color:#000000; background:#A7C0EB; cursor:hand; width:112px; 
      height:30px; border-left:1 solid #5C6980; border-top:1 solid #5C6980; 
      border-right:1 solid #B8D3FF; border-bottom:1 solid #B8D3FF}
.explorer_active{font-family:sans-serif; font-size:10px; font-weight:normal; 
      text-decoration:none; color:#000000; background:#3366ff; cursor:hand; 
      width:112px; height:30px}
.menu{font-family:sans-serif; font-size:10px; font-weight:normal; 
      text-decoration:none; color:#000000}
	
.KaliVeda{font-family:fixed; font-size:16px; font-weight:bold; padding-top: 0.2em;
      text-decoration:none; color:#ffffff; text-align: center; height: 20px; background: #3366ff}

	.leftSide {
		position: absolute;
		top: 50px;
		left: 0;
		width: 112px;
		background:	#eee;
	}

