Source: kaliveda
Section: science
Priority: optional
Maintainer: John Frankland <frankland@ganil.fr>
Build-Depends: debhelper (>= 9), bzr, cmake (>= 2.8), root-system (>= 5.34.0),
 libroot-gui-dev (>= 5.34.0), libroot-io-dev (>= 5.34.0), libroot-net-dev (>= 5.34.0),
 libroot-graf3d-g3d-dev (>= 5.34.0), libroot-tree-dev (>= 5.34.0), gfortran,
 libroot-graf2d-postscript-dev (>= 5.34.0), libroot-math-physics-dev (>= 5.34.0),
 libroot-proof-dev (>= 5.34.0), libroot-proof-proofplayer-dev (>= 5.34.0),
 libroot-geom-dev (>= 5.34.0), libroot-hist-spectrum-dev (>= 5.34.0),
 libroot-graf3d-gl-dev (>= 5.34.0)
Standards-Version: 3.9.5
Homepage: http://indra.in2p3.fr/KaliVedaDoc

Package: kaliveda
Architecture: any
Depends: libkaliveda-dev (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the following tools:
 .
     kaliveda       - command-line tool to launch the ROOT interpreter
                      using the KaliVeda toolkit
     kaliveda-sim   - graphical interface for filtering and analysing
                      simulated data with the KaliVeda toolkit
     kvtreeanalyzer - graphical interface for analysis of TTree data

Package: libkaliveda
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework (shared libraries)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the runtime shared libraries needed
 by package kaliveda.

Package: libkaliveda-dev
Section: libdevel
Architecture: any
Depends: libkaliveda (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework (development files)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the header files required for development
 using the libraries contained in package libkaliveda.

Package: kaliveda-indra
Architecture: any
Depends: libkaliveda-indra-dev (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for INDRA
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the following tools for analysis of INDRA data:
 .
     KaliVedaGUI    - graphical interface for data analysis
     KVDataBaseGUI  - graphical interface for managing INDRA experiment databases

Package: libkaliveda-indra
Section: libs
Architecture: any
Depends: libkaliveda (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for INDRA (shared libraries)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the runtime shared libraries needed
 by package kaliveda-indra for analysis of INDRA data.

Package: libkaliveda-indra-dev
Section: libdevel
Architecture: any
Depends: libkaliveda-indra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for INDRA (development files)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the header files required for development
 using the libraries contained in package libkaliveda-indra.

Package: libkaliveda-indravamos
Section: libs
Architecture: any
Depends: libkaliveda-indra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for INDRAVAMOS (shared libs)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the runtime shared libraries needed
 for analysis of INDRA-VAMOS data.

Package: libkaliveda-indravamos-dev
Section: libdevel
Architecture: any
Depends: libkaliveda-indravamos (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for INDRAVAMOS (development files)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the header files required for development
 using the libraries contained in package libkaliveda-indravamos.

Package: libkaliveda-fazia
Section: libs
Architecture: any
Depends: libkaliveda-indra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for FAZIA/INDRAFAZIA (shared libs)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the runtime shared libraries needed
 for analysis of FAZIA and INDRA-FAZIA data.

Package: libkaliveda-fazia-dev
Section: libdevel
Architecture: any
Depends: libkaliveda-fazia (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework for FAZIA/INDRAFAZIA (development files)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the header files required for development
 using the libraries contained in package libkaliveda-fazia.

Package: libkaliveda-microstat
Section: libs
Architecture: any
Depends: libkaliveda (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework MicroStat package (shared libs)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains the runtime shared libraries from the
 MicroStat package which allows to generate events using Monte-Carlo
 sampling of various statistical weights.

Package: libkaliveda-microstat-dev
Section: libdevel
Architecture: any
Depends: libkaliveda-microstat (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, root-system (>= 5.34.0)
Description: KaliVeda data analysis framework MicroStat package (development files)
 KaliVeda is an OO framework for simulation and analysis of
 heavy-ion collisions in the Fermi energy domain, based on ROOT.
 .
 This package contains examples and the header files required for development
 using the libraries contained in package libkaliveda-microstat,
 the MicroStat package which allows to generate events using Monte-Carlo
 sampling of various statistical weights.
