# ROOT code formatting style
# up to date as of 9/10/2015
style=stroustrup
mode=c
align-pointer=type
indent=spaces=3
indent-switches
indent-cases
indent-namespaces
max-instatement-indent=40
indent-preprocessor
convert-tabs
pad-header
pad-oper
unpad-paren
preserve-date
lineend=linux
